.menu {
  display: none;
}

.active-menu_menu {
  display: flex;
  flex-direction: column;
}

.cabecalho {
  height: 10vh;
}

.active-menu_cabecalho {
  height: 100vh;
  grid-template-rows: auto 90vh;
}
